#services{
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.content{
    flex-direction: column;
    margin-bottom: -82px;

}
#banner{
    width: 95vw;
}
.marquee{
    /* direction: ltr;
     */
     height: 80px;
}

.heading div h1{
    margin: -24px 0px;
    
}

.heading{
    height: 165px;
}
#logo {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}
.box img{
    height: 123px;
    /* width: 180px; */

}
